# Ignoring server data content
server/.data/carts/*.json
server/.data/orders/*.json
server/.data/users/*.json
server/.data/tokens/*.json

# Ignoring sensible data
server/config/cert.pem
server/config/key.pem
server/config/index.js